<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(function () {
            $.ajax({
                url: '/wallet',
                type: 'POST',
                success: function (response) {
                    $('#public_key').val(response['public_key']);
                    $('#private_key').val(response['private_key']);
                    $('#address').val(response['address']);
                    console.info(response);
                },
                error: function(error) {
                    console.error(error);
                }
            })

            $('#send_money_button').click(function() {
                if (!confirm('Are you sure to send?')) {
                    alert('Canceled')
                    return
                }

                let transaction_data = {
                    'sender_private_key': $('#private_key').val(),
                    'sender_address': $('#sender_address').val(),
                    'recipient_address': $('#recipient_address').val(),
                    'sender_public_key': $('#public_key').val(),
                    'value': $('#send_amount').val(),
                };

                $.ajax({
                    url: '/transaction',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(transaction_data),
                    success: function (response) {
                        console.info(response);
                        if (response.message === "fail") {
                            alert("failed")
                        } else {
                            alert('Send success');
                        }
                    },
                    error: function (response) {
                        console.error(response);
                        alert('Send failed');
                    }
                })
            })

            function reload_amount() {
                let data = {'address': $('#sender_address').val()}
                $.ajax({
                    url: '/wallet/amount',
                    type: 'GET',
                    data: data,
                    success: function (response) {
                        let amount = response['amount'];
                        $('#wallet_amount').text(amount);
                        console.info(amount)
                    },
                    error: function(error) {
                        console.error(error)
                    }
                })
            }

            $('#reload_wallet').click(function(){
                reload_amount();
            });

            // setInterval(reload_amount, 3000)
        })
    </script>
</head>
<body>

    <div>
        <h1>Wallet</h1>
        <div id="wallet_amount">0</div>
        <button id="reload_wallet">Refresh amount</button>

        <p>Public  Key</p>
        <textarea id="public_key" rows="2" cols="100"></textarea>

        <p>Private  Key</p>
        <textarea id="private_key" rows="1" cols="100"></textarea>

        <p>Address</p>
        <textarea id="sender_address" rows="1" cols="100"></textarea>

    </div>

    <div>
        <h1>Send Money</h1>
        <div>
            Address: <input id="recipient_address" size="100" type="text">
            <br>
            Amount: <input id="send_amount" type="text">
            <br>
            <button id="send_money_button">Send</button>
        </div>
    </div>

</body>
</html>