<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(function () {
            $.ajax({
                url: '/wallet',
                type: 'POST',
                success: function (response) {
                    $('#public_key').val(response['public_key']);
                    $('#private_key').val(response['private_key']);
                    $('#sender_address').val(response['address']);
                    console.info(response);
                },
                error: function (error) {
                    console.error(error);
                }
            })

            $('#send_money_button').click(function () {
                if (!confirm('Are you sure to send?')) {
                    alert('Canceled')
                    return
                }

                let transaction_data = {
                    'sender_private_key': $('#private_key').val(),
                    'sender_address': $('#sender_address').val(),
                    'recipient_address': $('#recipient_address').val(),
                    'value': $('#send_amount').val(),
                };

                $.ajax({
                    url: '/transaction',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(transaction_data),
                    success: function (response) {
                        console.info(response);
                        if (response === "success") {
                            alert('Send success');
                        } else {
                            alert('Send failed: '+response)
                        }
                    },
                    error: function (response) {
                        console.error(response);
                        alert('Send failed');
                    }
                })
            })

            function refresh_amount() {
                let data = {'address': $('#sender_address').val()}
                $.ajax({
                    url: '/wallet/amount',
                    type: 'GET',
                    data: data,
                    success: function (response) {
                        $('#wallet_amount').text(response);
                    },
                    error: function (error) {
                        console.error(error)
                    }
                })
            }

            function refresh_transactions() {
                $.ajax({
                    url: '/transactions',
                    type: 'GET',
                    success: function (response) {
                        $('#transactions_pool').text(JSON.stringify(response, undefined, 4));
                    },
                    error: function (error) {
                        console.error(error)
                    }
                })
            }

            function start_validation() {
                $.ajax({
                    url: '/validation/start',
                    type: 'POST',
                    error: function (error) {
                        console.error(error)
                    }
                })
            }

            function stop_validation() {
                $.ajax({
                    url: '/validation/stop',
                    type: 'POST',
                    error: function (error) {
                        console.error(error)
                    }
                })
            }

            $('#start_validation').click(function () {
                start_validation();
            });

            $('#stop_validation').click(function () {
                stop_validation();
            });

            setInterval(refresh_amount, 1000)
            setInterval(refresh_transactions, 1000)
        })
    </script>
</head>
<body>
<div>
    <h1>Wallet</h1>
    <div id="wallet_amount">0</div>
    <button id="start_validation">Start Validation</button>
    <button id="stop_validation">Stop Validation</button>
    <table>
        <tr>
            <td><label for="public_key">Public Key:</label></td>
            <td><textarea id="public_key" rows="2" cols="80" name="public_key"></textarea></td>
        </tr>
        <tr>
            <td><label for="private_key">Private Key:</label></td>
            <td><textarea id="private_key" rows="1" cols="80" name="private_key"></textarea></td>
        </tr>
        <tr>
            <td><label for="sender_address">Address:</label></td>
            <td><textarea id="sender_address" rows="1" cols="80" name="sender_address"></textarea></td>
        </tr>
    </table>
</div>

<div>
    <h1>Send Money</h1>
    <table>
        <tr>
            <td><label for="recipient_address">To address:</label></td>
            <td><textarea id="recipient_address" rows="1" cols="80" name="recipient_address"></textarea></td>
        </tr>
        <tr>
            <td><label for="send_amount">Amount:</label></td>
            <td><input id="send_amount" type="text" name="send_amount"></td>
        </tr>
    </table>
    <button id="send_money_button">Send</button>
</div>

<div>
    <h1>Transactions Pool</h1>
    <pre id="transactions_pool"></pre>
</div>
</body>
</html>